body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cluster-marker {
  background-clip: padding-box;
  border: 2px dashed #c2087199;
  border-radius: 30px;
  color: #fff;
  height: 60px;
  width: 60px;
  position: relative;
}

.cluster-marker:hover {
  border-radius: 0px;
  border: 2px solid transparent;
}

.cluster-marker div {
  background-color: #c2087199;
  padding: 5px;
  text-align: center;
  margin-left: 13px;
  margin-top: 15px;
  width: 26px;
  height: 20px;
}

.customPin2,
.customPinIcon2 {
  cursor: pointer;
  background-image: url(./marker-icon.png);
  background-size: cover;
  width: 25px;
  height: 41px;
  left: -19.5px;
  top: -41px;
  display: block;
  position: relative;
  opacity: 0.6;

  &--clicked {
    filter: invert(0.3);
  }
}

.marker-popup {
  position: relative;
  border: 1px solid lightgray;
  background-color: white;
  box-shadow: $tile-shadow;
  z-index: 900;
  top: -25px;
  left: -25px;
}
